.idea/
*.iml
pom.xml
pom.xml.asc
.DS_Store
.env
*.jar
*.class
log/
/resources/public/js/compiled
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.rebel_readline_history
.nrepl-port
.cpcache/
